@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Gdynia<br />
    Center<br />
    <abbr title="Phone">P:</abbr>
    997-998-999
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/Snooking">Snooking</a><br />
</address>