@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Private Library</h1>
    <p class="lead">This is my private library. Feel free to add, edit and do whatever the hell you want.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
            List of all the books I've read.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Books", "Index", "Books")</p>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>
            List of all authors I've read.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Authors", "Index", "Authors")</p>
    </div>
    <div class="col-md-4">
        <h2>Series</h2>
        <p>
            List of all series I've read.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Series", "Index", "Books")</p>
    </div>
</div>